/* .navbar-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.navbar-sidebar {
    height: 95.5%;
    width: 4%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5d1d63;
    color: white;
}

.navbar-sidebar a {
    text-decoration: none;
    color: white;
}

.navbar-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-icons ul li {
    list-style: none;
    margin-top: 1em;
}

.navbar-icons ul li a {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-icons ul li a span {
    font-size: .75em;
    margin-top: .45em;
}

.icons-container {
    height: 2.25rem;
    width: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
}

.icons {
    font-size: 1.25em;
    background: transparent;
}

.icon-active {
    background-color: #703577;
}

.navbar-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-account-container {
    height: 1.5em;
    width: 1.5em;
}

.navbar-account-logo {
    padding: 1em 0;
}

.routes-container {
    width: 95%;
    margin-top: 2%;
}

.navbar-account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #5d1d63; 
}

.navbar-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-account-logo {
    max-width: 100%;
    height: auto;
} */
